#access .role-text{
    font-size: 18px; 
    color:#333951;
}

#access .boxMargin {
    margin: 0px 35px
}

#access .add-Text {
    font-size: 15px; 
    text-decoration: none;
    color:#333951;
    padding-top: 5px;
}

#access .image-box {
    width:31px; 
    height:31px; 
    background-color:#EE2219; 
    border-radius:10px
}

#access .inputBox-container {
    margin-top: 25px;
    padding: 20px 40px 30px 40px;
}

#access .searchText {
    font-size: 12px;
    color: #C0C0C0;
}

#access .inputText {
    border: none; 
    height:40px; 
    border-radius: 8px; 
    width: 350px; 
    padding-left: 10px;
    font-size: 14px;
}

#access .moduleInputBox {
    background-color:#F6F6F6; 
    border-radius: 10px
}

#access .containerList {
    margin-top: 80px; 
    width: 100%;
}
  
#access th {
    color: #C0C0C0;
    font-size: 12px
}

#access td {
    font-size: 14px;
}

#access td,th,tr {
    padding:13px 8px;
}

#access .editImage{
    width: 15px; 
    height: 15px
}

#access .deleteImage {
    width: 12px; 
    height: 14px; 
    margin-left: 10px
}
#access #item:hover {
    border:1px solid #F8F8F8;
    border-radius:10px;
    animation: none;
    box-shadow: 1px 1px 6px#00000029;
    padding : 10px 10px
}
